  <div class="row">
    <div class="col col-xs-8">
        <input type="text" [(ngModel)]="title" placeholder="title" class="form-control">
    </div>
    <div class="col col-xs-2">
        <button class="btn btn-primary"(click)="createRecipe(title)" [disabled]="!title"><i class="fa fa-plus"></i></button>
    </div>
    <div class="col col-xs-2">
        <button class="btn btn-primary"(click)="createRecipe(title)" [disabled]="!title"><i class="fa fa-plus"> Ingredients</i></button>
    </div>
  </div>


<button class="btn btn-success" (click)="getRecipes()">show recipes</button>

<div class="list-div" *ngIf="show">
  <ul class="list-group" >
    <li class="list-group-item"*ngFor="let recipe of recipes ">
      <div>
          <p>{{ recipe.title }}</p>
          <button class="btn btn-danger deleteBtn" (click)="delete(recipe.key)"><i class="fa fa-trash"></i></button> 
          <button class="btn btn-primary edit" (click)="updateForm(recipe.key)"><i class="fa fa-edit"></i></button>  
      </div>
    </li>
  </ul>
</div>
<app-edit-recipe [key]="recipeKey" *ngIf="updateFormShow"></app-edit-recipe>