.user{
    margin-top: 20px;
    margin-right: 85px;
}

.logout{
    margin-left: 180px;
    position: absolute;
    top: 13px;
}

.signup{
    margin-left: -100px;
    margin-top: 15px;
}

.login{
    margin-top: -18px;
    margin-left: -10px;
}